@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin './hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--heroui-background);
  color: var(--heroui-foreground);
  font-family: system-ui, sans-serif;
}
